/* JetBrains Mono Font */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono Thin';
  src: url('JetBrainsMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

