/**
 * Custom pixel cursor (chubby triangle with convex sides and thick black outline)
 */
canvas {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="36" viewBox="-4 -4 32 36"><path d="M 3,2 Q 1,8 1,14 Q 1,20 3,24 Q 7,22 12,19 Q 16,17 20,13 Q 20,11 16,8 Q 12,5 9,4 Q 6,2 3,2 Z" fill="none" stroke="black" stroke-width="8" stroke-linejoin="round"/><path d="M 3,2 Q 1,8 1,14 Q 1,20 3,24 Q 7,22 12,19 Q 16,17 20,13 Q 20,11 16,8 Q 12,5 9,4 Q 6,2 3,2 Z" fill="white"/></svg>') 0 0, auto;
}

/**
 * Custom pointer cursor (chubby hand/finger in same style)
 */
canvas.cursor-pointer {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="40" viewBox="-4 -4 36 40"><path d="M 8,20 L 8,12 Q 8,8 11,8 Q 14,8 14,11 L 14,6 Q 14,3 17,3 Q 20,3 20,6 L 20,8 Q 20,5 23,5 Q 26,5 26,8 L 26,16 Q 26,20 24,24 Q 22,28 18,28 L 12,28 Q 8,28 6,24 L 4,20 Q 4,18 6,18 Q 8,18 8,20 Z" fill="none" stroke="black" stroke-width="8" stroke-linejoin="round"/><path d="M 8,20 L 8,12 Q 8,8 11,8 Q 14,8 14,11 L 14,6 Q 14,3 17,3 Q 20,3 20,6 L 20,8 Q 20,5 23,5 Q 26,5 26,8 L 26,16 Q 26,20 24,24 Q 22,28 18,28 L 12,28 Q 8,28 6,24 L 4,20 Q 4,18 6,18 Q 8,18 8,20 Z" fill="white"/></svg>') 8 0, pointer;
}

