/**
 * Custom pixel cursor (Kaplay-style chubby triangle without tail)
 */
canvas {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28"><path d="M 5,3 Q 4,9 4,14 Q 4,19 8,22 Q 12,24 16,19 Q 18,16 16,12 Q 14,8 10,6 Q 7,4 5,3 Z" fill="none" stroke="black" stroke-width="8" stroke-linejoin="miter" stroke-miterlimit="10"/><path d="M 5,3 Q 4,9 4,14 Q 4,19 8,22 Q 12,24 16,19 Q 18,16 16,12 Q 14,8 10,6 Q 7,4 5,3 Z" fill="white"/></svg>') 0 0, auto;
}

